.list-group {
    line-height: 0.6;
    border: none;
}

.span.favorable {
    background-color: rgb(144, 238, 144);
    color: rgb(0, 0, 0);
}

.span.moderate {
    background-color: rgb(249, 243, 95);
    color: rgb(0, 0, 0);
}

.span.severe {
    background-color: rgb(229, 10, 10);
    color: rgb((0, 0, 0);
}