.card-body {
    flex: auto;
}

.list-group {
    line-height: 1.5;
    border: none;
}

span.favorable { 
    background-color: rgb(50, 205, 50);
}

span.moderate {
    background-color: rgb(249, 243, 95);
}

span.severe {
    background-color: rgb(229, 10, 10);
}